<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="/frontend/images/favicon.ico">
  <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="/frontend/css/public.css">
  <script src="//cdn.staticfile.org/jquery/3.5.1/jquery.js"></script>
  <script src="//cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="//cdn.staticfile.org/twitter-bootstrap/4.5.2/js/bootstrap.js"></script>
</head>
<body>
  {% include "../header.html" %}
  <link rel="stylesheet" href="/frontend/css/resume.css">
  <script src="/frontend/js/resume.js"></script>
  <script>$('.menu-item-home').text('返回主页');</script>
  <div class="home wrapper pt-4 pb-4" style="margin-top: 56px;">
    {% include "./left-nav.html" %}
    <div class="float-right w-75" style="width: 74%!important;">
      <div class="card">
        <!-- <div class="card-header">工具栏<small class="ml-1 text-secondary">（调整样式，让你的简历更加完美！）</small></div> -->
        <div class="resume-tool col m-1 my-2 py-1">
          <div class="float-left font-size-13 border px-1 mr-3 rounded pt-1"><input id="pageFontColor" type="color" value="#313539" class="m-0" style="width: 20px;height: 20px;cursor: pointer;" autocomplete="off"></div>
          <div class="float-left font-size-13 border p-1 px-2 mr-3 rounded"><input id="pageFontSize" class="float-left font-size-13 text-center" type="text" placeholder="14" value="14" autocomplete="off"><p class="float-left">px</p></div>
          <div class="float-left font-size-13 border p-1 px-2 mr-3 rounded">
            <select id="pageFontFamily" autocomplete="off" class="font-size-12">
              <option>微软雅黑</option>
              <option>黑体</option>
              <option>宋体</option>
              <option>楷体</option>
              <option selected="selected">仿宋</option>
            </select>
          </div>
          <div class="float-left font-size-13 border p-1 px-2 mr-3 rounded"><p class="float-left">页边距：</p><input id="pagePadding" class="float-left font-size-13 text-center" type="text" placeholder="1.75" value="1.75" autocomplete="off"><p class="float-left">cm</p></div>
          <div class="float-left font-size-13 border p-1 px-2 mr-3 rounded"><p class="float-left">行边距：</p><input id="pageLineHeight" class="float-left font-size-13 text-center" type="text" placeholder="25" value="25" autocomplete="off"><p class="float-left">px</p></div>

        </div>
      </div>
      <div class="card mt-4">
        <div class="card-header">
          <p class="float-left pr-1 resume-name" id="resumeName" contenteditable="true">{{ resumeName }}</p>
          <small class="text-secondary">（点击修改简历名称）</small>
          <div class="float-right dropdown" style="line-height: 14px;">
            <button class="btn btn-sm btn-secondary dropdown-toggle" style="line-height: 14px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多</button>
            <div class="dropdown-menu mt-2 font-size-14" aria-labelledby="dropdownMenuButton" style="min-width: 100%;line-height: 20px;">
              <a class="dropdown-item" id="printResume" href="javascript:void(0);">打印简历</a>
              <a class="dropdown-item" id="shareResume" href="javascript:void(0);">分享简历</a>
              <a class="dropdown-item" onclick="deleteResume('{{ resumeKey }}')" href="javascript:void(0);">删除简历</a>
            </div>
          </div>
        </div>
        <div class="col p-0">
          <div class="list-group list-group-flush" style="margin-bottom: 0!important;">
            <div id="Rsc" style="display: none;">{{ resumeData }}</div>
            <div id="RscToText" style="display: none;"></div>
            <div id="resumeKey" style="display: none;">{{ resumeKey }}</div>
            <div id="userData" style="display: none;">
              <p id="forRealname">{{ userData.userData.realname }}</p><p id="forAvatar">{{ userData.userData.avatar }}</p>
            </div>
            <div id="TextToHtml" class="resume-box" contenteditable="true"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "../footer.html" %}
</body>
</html>