<div class="float-left w-25" style="width: 24%!important;">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">简历评分：<small class="text-danger font-size-20">{{ resumeScore }}</small></h5>
        <p class="card-text font-size-13 text-secondary">你的简历已较为完善，建议根据智能建议继续优化，或者通过申请简历定制化服务，使你的简历更加完美！</p>
        <a href="javascript:void(0);" class="btn btn-success mt-3" style="color: #fff!important;">申请定制</a>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">个人中心</div>
      <div class="nav-list list-group list-group-flush font-size-14">
        <a href="/home" class="list-group-item list-group-item-action text-dark font-weight-bold">我的简历</a>
        <a href="/home/collect" class="list-group-item list-group-item-action text-dark">我的收藏</a>
        <a href="/home/settings" class="list-group-item list-group-item-action text-dark">账户设置</a>
        <a href="/home/feedback" class="list-group-item list-group-item-action text-dark">建议反馈</a>
      </div>
    </div>
  </div>