<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <meta name="keywords" content="{{ keywords }}">
  <meta name="description" content="{{ description }}">
  <link rel="shortcut icon" href="/frontend/images/favicon.ico">
  <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="/frontend/css/public.css">
  <link rel="stylesheet" href="/frontend/css/template.css">
  <script src="//cdn.staticfile.org/jquery/3.5.1/jquery.js"></script>
  <script src="/frontend/js/jq-paginator.js"></script>
  <script src="/frontend/js/template.js"></script>
  <script src="//cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="//cdn.staticfile.org/twitter-bootstrap/4.5.2/js/bootstrap.js"></script>
</head>
<body>
  {% include "../header.html" %}
  <div class="wrapper" style="margin-top: 56px">
    <nav aria-label="breadcrumb" class="font-size-13 mt-1">
      <ol class="breadcrumb bg-white font-size-12 px-0 mb-0">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">简历模板</li>
      </ol>
    </nav>
    <div class="template-search input-group mt-2">
      <input type="text" class="form-control font-size-15 px-3 border-light bg-light" style="height: 50px;" placeholder="请输入关键字...（如：大学生实习简历模板）">
      <div class="input-group-append">
        <button class="btn btn-success px-4" type="button"><svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-search mx-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg></button>
      </div>
    </div>
    <div class="template-special mt-4">
      <h4 class="font-size-16 font-weight-bold">专题简历</h4>
      <ul class="mt-3">
        {% for item in hotClass %}
        <li><a href="/template/{{item.url}}/"><img class="rounded" src="{{item.img}}" alt="{{item.tagname}}"></a></li>
        {% endfor %}
        <!-- <li><a href=""><img class="rounded" src="https://files.wondercv.com/template/banner_1.png" alt=""></a></li>
        <li><a href=""><img class="rounded" src="https://files.wondercv.com/template/banner_2.png" alt=""></a></li>
        <li><a href=""><img class="rounded" src="https://files.wondercv.com/template/banner_3.png" alt=""></a></li>
        <li><a href=""><img class="rounded" src="https://files.wondercv.com/template/banner_4.png" alt=""></a></li>
        <li><a href=""><img class="rounded" src="https://files.wondercv.com/template/banner_5.png" alt=""></a></li> -->
      </ul>
    </div>
  </div>
  <div class="template-list mt-4">
    <div class="wrapper">
      <ul class="nav nav-tabs" id="templateListTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link px-0 active" id="recommend-tab" data-toggle="tab" href="#recommend" role="tab" aria-controls="recommend" aria-selected="true">推荐</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link px-0" id="hot-tab" data-toggle="tab" href="#hot" role="tab" aria-controls="hot" aria-selected="false">热门</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link px-0" id="type-tab" data-toggle="tab" href="#industry" role="tab" aria-controls="type" aria-selected="false">行业</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link px-0" id="position-tab" data-toggle="tab" href="#position" role="tab" aria-controls="position" aria-selected="false">职位</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link px-0" id="school-tab" data-toggle="tab" href="#school" role="tab" aria-controls="school" aria-selected="false">高校</a>
        </li>
      </ul>
    </div>
    <div class="tab-content pt-4" id="templateListTabContent" style="background-color: #f5f5f7;">
        <div class="tab-pane fade show active" id="recommend" role="tabpanel" aria-labelledby="recommend-tab">
          <!-- null -->
        </div>
        <div class="tab-pane fade" id="hot" role="tabpanel" aria-labelledby="hot-tab">
          <div class="list-tag wrapper">
            {% for item in hotClass %}
            <a href="/template/{{item.url}}/" class="badge">{{item.tagname}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="tab-pane fade" id="industry" type-data-count="" role="tabpanel" aria-labelledby="industry-tab">
          <div class="list-tag wrapper">
            {% for item in industryClass %}
            <a href="/template/{{item.url}}/" class="badge">{{item.tagname}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="tab-pane fade" id="position" role="tabpanel" aria-labelledby="position-tab">
          <div class="list-tag wrapper">
            {% for item in positionClass %}
            <a href="/template/{{item.url}}/" class="badge">{{item.tagname}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="tab-pane fade" id="school" role="tabpanel" aria-labelledby="school-tab">
          <div class="list-tag wrapper">
            {% for item in schoolClass %}
            <a href="/template/{{item.url}}/" class="badge">{{item.tagname}}</a>
            {% endfor %}
          </div>
        </div>
        <div class="w-100 pb-2 wrapper" style="overflow: hidden;padding: 0px 25px;width: 1250px!important;">
          {% for item in pageTemplateList %}
          <div class="list-box float-left mt-3 mb-4"><a href="/template/item/{{item.template_id}}.html" title="#"><p class="btn btn-blue text-white font-size-16">查看模板</p><p class="img"><img src="{{item.template_img}}" alt="{{item.template_name}}"></p><p class="title px-3 font-size-14"><span class="badge badge-secondary font-size-13 mr-2 font-weight-normal teamplate-type">{{item.template_type}}</span>{{item.template_name}}</p><p class="px-3 pb-1 mb-2 description font-size-13 text-secondary" style="overflow: hidden;"><font class="float-left">{{item.template_type}}模板</font><font class="float-right">{{item.use}}人使用</font></p></a></div>
          {% endfor %}
        </div>
        <div class="template-page wrapper pb-4" page-data="{{ pageNum }}" all-page-data="{{ allPageNum }}">
          <nav aria-label="Page navigation">
            <ul class="pagination mb-2" id="templateListPagination"></ul>
          </nav>
        </div>
    </div>
  </div>
  {% include "../footer.html" %}
</body>
</html>