<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ templateData.template_name }} - {{ title }}</title>
  <meta name="keywords" content="{{ templateData.template_keywords }}简历模板,{{ templateData.template_name }}">
  <meta name="description" content="{{ templateData.template_description }}">
  <link rel="shortcut icon" href="/frontend/images/favicon.ico">
  <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="/frontend/css/public.css">
  <link rel="stylesheet" href="/frontend/css/template.css">
  <script src="//cdn.staticfile.org/jquery/3.5.1/jquery.js"></script>
  <script src="/frontend/js/jq-paginator.js"></script>
  <script src="/frontend/js/template.js"></script>
  <script src="//cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="//cdn.staticfile.org/twitter-bootstrap/4.5.2/js/bootstrap.js"></script>
</head>
<body>
  {% include "../header.html" %}
  <!-- 查看大图 -->
  <div class="modal fade template-big-img" id="templateBigImg" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">查看大图</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="{{ templateData.template_img }}" alt="{{ templateData.template_description }}">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
  <div class="template-item">
    <div class="wrapper">
      <nav aria-label="breadcrumb" class="font-size-13 mt-1">
        <ol class="breadcrumb bg-transparent font-size-12 px-0 mb-0">
          <li class="breadcrumb-item"><a href="/">首页</a></li>
          <li class="breadcrumb-item" aria-current="page"><a href="/template/">简历模板</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ templateData.template_name }}</li>
        </ol>
      </nav>
      <div class="template-item-main mt-1">
        <div class="float-left w-75">
          <div class="bg-white w-100 p-4" style="overflow: hidden;">
            <img class="img-thumbnail float-left w-25 ml-2 mt-2" title="点击查看大图" src="{{ templateData.template_img }}" alt="{{ templateData.template_name }}" data-toggle="modal" data-target="#templateBigImg">
            <div class="float-right mt-4" style="width: 595px;">
              <h4 class="w-100 text-dark"><span class="badge badge-secondary mr-2 font-weight-normal template-type float-left" style="margin-top: 2px;">{{ templateData.template_type }}</span>{{ templateData.template_name }}</h4>
              <p class="w-100 mt-3 font-size-14 text-black-50">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock mr-2 float-left mt-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                  <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                </svg>更新于 {{ templateData.update_time }}&emsp;&emsp;
                <svg width="1em" height="1em" viewBox="0 1 16 16" class="bi bi-people mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
                </svg>{{ templateData.use }}人使用</p>
              <p class="w-100 py-3 px-4 bg-light font-size-14 mt-3 text-black-50" style="line-height: 25px;max-height: 111px;">{{ templateData.template_description }}</p>
              <div class="w-100 mt-4 pt-1">
                <div class="create-resume px-4 btn btn-danger rounder text-white float-left">开始制作简历</div>
                <div class="create-resume px-4 btn btn-outline-secondary rounder ml-3">收藏模板</div>
              </div>
            </div>
          </div>
          <div class="mt-3 bg-white w-100 recommend-list" style="overflow: hidden;">
            <h5 class="w-100 font-size-16 px-4 pt-4 pb-2 m-0">相似简历推荐</h5>
            <div class="w-100 px-3 mt-1" style="overflow: hidden;">
              {% for item in recommendTemplateList %}
                <div class="float-left px-2 mb-1 recommend-item"><a href="/template/item/{{item.template_id}}.html">
                  <img class="img-thumbnail mt-2" src="{{item.template_img}}" alt="{{item.template_name}}">
                  <p class="text-center font-size-14 text-dark" style="height: 35px;line-height: 40px;display: block;overflow: hidden;">{{item.template_name}}</p>
                </a></div>
              {% endfor %}
            </div>
            <h5 class="w-100 font-size-16 px-4 pt-4 pb-2 m-0 mt-1">最新简历模板</h5>
            <div class="w-100 font-size-14 px-4 pb-4 mt-2" style="overflow: hidden;">
              {% for item in newTemplateList %}
                <a href="/template/item/{{item.id}}.html" class="float-left text-secondary new-template-item mr-3">{{item.template_name}}</a>
              {% endfor %}
            </div>
          </div>
          <div class="py-3 mb-3 w-100 context font-size-13">
            <a href="/template/item/{{prevTeamplateData.template_id}}.html" class="float-left text-secondary prev" data-target="{{prevTeamplateData.template_name}}">上一个：{{prevTeamplateData.template_name}}</a>
            <a href="/template/item/{{nextTeamplateData.template_id}}.html" class="float-right text-secondary next" data-target="{{nextTeamplateData.template_name}}">下一个：{{nextTeamplateData.template_name}}</a>
          </div>
        </div>
        <div class="float-right" style="margin-left: 1rem;width: 284px;">
          <div class="template-right-box bg-white p-4">
            <h5 class="font-size-14 m-0" style="overflow: hidden"><p class="float-left font-size-16">求职攻略</p><a href="/article/" class="float-right font-weight-normal text-black-50">更多</a></h5>
            <div class="w-100">
              <a href=""><div class="media mt-3 pt-3">
                <img src="https://photo.wondercv.com/uploads/page/middle_title_image/9287/title_photo-1485988412941-77a35537dae4.jpg" class="mr-2" alt="...">
                <div class="media-body font-size-14 pl-1">
                  <p class="mt-0 article-title">测试内容Abc1测试23</p>
                  <p class="article-read text-black-50 font-size-13">123人阅读</p>
                </div>
              </div></a>
              <a href=""><div class="media mt-3 pt-3">
                <img src="https://photo.wondercv.com/uploads/page/middle_title_image/9287/title_photo-1485988412941-77a35537dae4.jpg" class="mr-2" alt="...">
                <div class="media-body font-size-14 pl-1">
                  <p class="mt-0 article-title">测试内容Abc1测试23</p>
                  <p class="article-read text-black-50 font-size-13">123人阅读</p>
                </div>
              </div></a>
              <a href=""><div class="media mt-3 pt-3">
                <img src="https://photo.wondercv.com/uploads/page/middle_title_image/9287/title_photo-1485988412941-77a35537dae4.jpg" class="mr-2" alt="...">
                <div class="media-body font-size-14 pl-1">
                  <p class="mt-0 article-title">测试内容Abc1测试23</p>
                  <p class="article-read text-black-50 font-size-13">123人阅读</p>
                </div>
              </div></a>
              <a href=""><div class="media mt-3 pt-3">
                <img src="https://photo.wondercv.com/uploads/page/middle_title_image/9287/title_photo-1485988412941-77a35537dae4.jpg" class="mr-2" alt="...">
                <div class="media-body font-size-14 pl-1">
                  <p class="mt-0 article-title">测试内容Abc1测试23</p>
                  <p class="article-read text-black-50 font-size-13">123人阅读</p>
                </div>
              </div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "../footer.html" %}
</body>
</html>