<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <meta name="keywords" content="{{ templateClassData.tagname }},{{ keywords }}">
  <meta name="description" content="{{ description }}">
  <link rel="shortcut icon" href="/frontend/images/favicon.ico">
  <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="/frontend/css/public.css">
  <link rel="stylesheet" href="/frontend/css/template.css">
  <script src="//cdn.staticfile.org/jquery/3.5.1/jquery.js"></script>
  <script src="/frontend/js/jq-paginator.js"></script>
  <script src="/frontend/js/template.js"></script>
  <script src="//cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="//cdn.staticfile.org/twitter-bootstrap/4.5.2/js/bootstrap.js"></script>
</head>
<body>
  {% include "../header.html" %}
  <div class="wrapper" style="margin-top: 56px">
    <nav aria-label="breadcrumb" class="font-size-13 mt-1">
      <ol class="breadcrumb bg-white font-size-12 px-0 mb-0">
        <li class="breadcrumb-item"><a href="/">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/template/">简历模板</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ templateClassData.tagname }}</li>
      </ol>
    </nav>
    <div class="template-search input-group mt-2" style="margin: auto auto auto 0;position: absolute;z-index: 95;">
      <input type="text" class="form-control font-size-15 px-3 border-light bg-light" style="height: 50px;" placeholder="请输入关键字...（如：大学生实习简历模板）">
      <div class="input-group-append">
        <button class="btn btn-success px-4" type="button"><svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-search mx-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
          <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
        </svg></button>
      </div>
    </div>
    <div class="template-class pt-5 mt-4 font-size-14" class-data="{{ templateClassData.tagname }}">
      <div class="template-class-item w-100 item-1">
        <p class="class-item-title float-left">类型：</p>
        <div class="float-left class-item-main">
          {% for item in hotClass %}
          <a href="/template/{{item.url}}/">{{item.tagname}}</a>
          {% endfor %}
        </div>
        <p class="float-right class-item-more text-secondary" style="display: none;"><a href="javascript:void(0);">更多 ></a></p>
      </div>
      <div class="template-class-item w-100 item-2">
        <p class="class-item-title float-left">行业：</p>
        <div class="float-left class-item-main">
          {% for item in industryClass %}
          <a href="/template/{{item.url}}/">{{item.tagname}}</a>
          {% endfor %}
        </div>
        <p class="float-right class-item-more text-secondary" style="display: none;"><a href="javascript:void(0);">更多 ></a></p>
      </div>
      <div class="template-class-item w-100 item-3">
        <p class="class-item-title float-left">职位：</p>
        <div class="float-left class-item-main">
          {% for item in positionClass %}
          <a href="/template/{{item.url}}/">{{item.tagname}}</a>
          {% endfor %}
        </div>
        <p class="float-right class-item-more text-secondary" style="display: none;"><a href="javascript:void(0);">更多 ></a></p>
      </div>
      <div class="template-class-item w-100 item-4">
        <p class="class-item-title float-left">高校：</p>
        <div class="float-left class-item-main">
          {% for item in schoolClass %}
          <a href="/template/{{item.url}}/">{{item.tagname}}</a>
          {% endfor %}
        </div>
        <p class="float-right class-item-more text-secondary" style="display: none;"><a href="javascript:void(0);">更多 ></a></p>
      </div>
    </div>
  </div>
  <div class="template-class-list mt-3">
    <div class="wrapper">
      <div class="my-3" style="overflow: hidden;">
        <div class="float-left w-75">
          <div class="alert alert-danger font-size-13" role="alert">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-exclamation-circle float-left pr-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
            开通会员，免费使用所有简历模板，高效制作你的简历！
            <button type="button" class="close font-size-16" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="w-100">
            {% for item in templateData %}
            <div class="media mb-3 bg-white">
              <a href="/template/item/{{item.template_id}}.html" class="p-4">
              <img class="img-thumbnail" src="{{item.template_img}}" alt="{{item.template_name}}">
              <div class="media-body">
                <h5 class="my-0 text-dark title"><span class="badge badge-secondary mr-2 template-type font-weight-normal float-left font-size-14">{{item.template_type}}</span>{{item.template_name}}</h5>
                <p class="text-secondary mt-2 font-size-14 description">{{item.template_description}}</p>
                <div class="w-100">
                  <div class="float-left w-50 font-size-14 text-secondary">
                    <svg width="1.2em" height="1.2em" viewBox="0 1 16 16" class="bi bi-tags-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M3 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 7.586 1H3zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      <path d="M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                    </svg>
                    {{item.template_keywords}}
                  </div>
                  <div class="float-right w-50 font-size-14 text-secondary">
                    <p class="float-right"><svg width="1.2em" height="1.2em" viewBox="0 0 20 20" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
                    </svg>{{item.use}}人使用</p>
                    <p class="float-right mr-4"><svg width="1.2em" height="1.2em" viewBox="0 0 20 20" class="bi bi-clock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                    </svg>更新时间：{{item.update_time}}</p>
                  </div>
                </div>
              </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="float-right w-25 pl-3">
          <div class="template-right-box bg-white p-4">
            <h5 class="font-size-14 font-weight-bold">推荐模板</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item p-0">Cras justo odio</li>
              <li class="list-group-item p-0">Dapibus ac facilisis in</li>
              <li class="list-group-item p-0">Morbi leo risus</li>
              <li class="list-group-item p-0">Porta ac consectetur ac</li>
              <li class="list-group-item p-0">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="template-page wrapper pb-4 mt-3" page-data="{{ pageNum }}" all-page-data="{{ allPageNum }}">
        <nav aria-label="Page navigation">
          <ul class="pagination mb-2" id="templateListPagination"></ul>
        </nav>
      </div>
    </div>
  </div>

  {% include "../footer.html" %}
</body>
</html>