<div class="header bg-black">
	<div class="wrapper text-white" style="height: 56px;overflow: hidden;">
		<div class="logo float-left"><a href="/" title="{{ title }}"></a></div>
		<div class="menu font-size-14">
			<p><a class="menu-item menu-item-home" href="/home" style="display: none;">我的简历</a></p>
			<p><a class="menu-item" href="#">简历模板</a></p>
			<p><a class="menu-item" href="#">简历优化</a></p>
			<p><a class="menu-item" href="#">简历定制</a></p>
			<p><a class="menu-item" href="#">求职攻略</a></p>
		</div>
		<div class="user float-right font-size-14">
			<p class="icon font-size-16"><a href="#"><i class="iconfont">&#xe63f;</i></a><a href="#" class="ml-3"><i class="iconfont">&#xe63e;</i></a></p>
			<p class="login" data-toggle="modal" data-target="#accountLogin"><a href="javascript:void(0);" id="loginButton">登录</a></p>
			<p class="accountMenu">
				<a href="/home">我的简历</a>
				<a href="/home/collect">我的收藏</a>
				<a href="/home/settings">账户设置</a>
				<a href="/home/feedback">建议反馈</a>
			</p>
			<p class="register" data-toggle="modal" data-target="#accountRegister"><a href="javascript:void(0);" id="registerButton">注册</a></p>
		</div>
	</div>
</div>
<!-- 登录 -->
<div class="modal fade" id="accountLogin">
	<div class="modal-dialog mt-5 pt-5">
		<div class="modal-content p-5">
			<script src="/frontend/js/home.js"></script>
			<script src="/frontend/js/public.js"></script>
			<script src="//cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
			<h3 class="text-center">用户登录</h3>
			<div class="username">
				<label class="font-size-16">账号：</label><input type="text" class="form-control" id="username">
			</div>
			<div class="password mt-2">
				<label class="font-size-16">密码：</label><input type="password" class="form-control" id="password">
			</div>
			<div class="form-group form-check mt-2">
				<input type="checkbox" class="form-check-input float-left mt-2" id="checkStatus" checked>
				<label class="form-check-label font-size-14 mt-1" for="checkStatus">记住密码</label>
			</div>
			<button type="submit" class="btn btn-primary mt-1 pt-2 pb-2" id="login">登录</button>
			<p class="font-size-14 mt-2"><a href="#" class="text-secondary float-left">忘记密码</a><a href="javascript:void(0);" id="LoginOff" class="text-secondary float-right" data-toggle="modal" data-target="#accountRegister">注册账号</a></p>
		</div>
	</div>
</div>

<!--注册-->
<div class="modal fade" id="accountRegister">
	<div class="modal-dialog mt-5 pt-5">
		<div class="modal-content p-5">
			<script src="//cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
			<h3 class="text-center">用户注册</h3>
			<div class="realname">
				<label class="font-size-16">姓名：</label><input type="text" class="form-control" id="realname">
			</div>
			<div class="username mt-2">
				<label class="font-size-16">手机号码：</label><input type="text" class="form-control" id="username">
			</div>
			<div class="email mt-2">
				<label class="font-size-16">电子邮箱：</label><input type="text" class="form-control" id="email">
			</div>
			<div class="password mt-2">
				<label class="font-size-16">密码：</label><input type="password" class="form-control" id="password">
			</div>
			<button type="submit" class="btn btn-success mt-3 pt-2 pb-2" id="login">注册</button>
			<p class="font-size-14 mt-2"><a href="javascript:void(0);" class="text-secondary float-left" id="RegisterOff" data-toggle="modal" data-target="#accountLogin">已有账号</a></p>
		</div>
	</div>
</div>