<div class="header bg-black">
	<div class="wrapper text-white">
		<div class="logo float-left"><a href="/" title="{{ title }}"></a></div>
		<div class="menu font-size-14">
			<p><a href="#">简历模板</a></p>
			<p><a href="#">简历优化</a></p>
			<p><a href="#">简历定制</a></p>
			<p><a href="#">求职攻略</a></p>
		</div>
		<div class="user float-right font-size-14">
			<p class="icon font-size-16"><a href="#"><i class="iconfont">&#xe63f;</i></a><a href="#" class="ml-3"><i class="iconfont">&#xe63e;</i></a></p>
			<p class="login"><a href="#">登录</a></p>
			<p class="register"><a href="#">注册</a></p>
		</div>
	</div>
</div>