<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ title }}</title>
  <meta name="keywords" content="{{ keywords }}">
  <meta name="description" content="{{ description }}">
  <link rel="shortcut icon" href="/frontend/images/favicon.ico">
  <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/4.5.2/css/bootstrap.css">
  <link rel="stylesheet" href="/frontend/css/public.css">
  <script src="//cdn.staticfile.org/jquery/3.5.1/jquery.js"></script>
  <script src="//cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="//cdn.staticfile.org/twitter-bootstrap/4.5.2/js/bootstrap.js"></script>
</head>
<body>
  {% include "./header.html" %}
  <div class="banner pt-5">
    <div class="wrapper pt-5 mt-2">
      <div class="title text-white font-weight-bold pt-5 pb-3">
        <h1 class="mt-3">海量模板任意挑选</h1>
        <h1>一站式智能简历工具</h1>
        <p class="font-size-18 font-weight-normal mt-3">10 分钟快速制作，助你获得名企 Offer</p></div>
      <div class="mt-4 btn btn-blue text-white font-size-18 makeResume">免费制作专业简历</div>
    </div>
  </div>
  <div class="index-1 wrapper bg-white mb-5">
    <div class="index-1-box float-left text-center">
      <p class="font-size-20 mb-2"><i class="iconfont mr-2 text-blue">&#xe889;</i>海量模板</p>
      <p class="text-muted font-size-14 pt-1">3000+ 精选模板范例，供用户任意挑选制作</p>
    </div>
    <div class="index-1-box float-left text-center">
      <p class="font-size-20 mb-2"><i class="iconfont mr-2 text-danger">&#xe610;</i>智能优化</p>
      <p class="text-muted font-size-14 pt-1">基于阿里云架构服务，提供稳定的简历工具服务</p>
    </div>
    <div class="index-1-box float-left text-center">
      <p class="font-size-20 mb-2"><i class="iconfont mr-2 text-warning">&#xe6ab;</i>制作高效</p>
      <p class="text-muted font-size-14 pt-1">无需安装，打开平台即可随时随地办公</p>
    </div>
    <div class="index-1-box float-left text-center">
      <p class="font-size-20 mb-2"><i class="iconfont mr-2 text-success">&#xe625;</i>云端存储</p>
      <p class="text-muted font-size-14 pt-1">云端存储，基于阿里云OSS 对象存储技术服务</p>
    </div>
  </div>
  <div class="index-2 pt-5">
    <div class="head text-center mt-3">
      <h1 class="font-weight-bold"><font class="text-blue">找模板</font>，3000+ 样式一键应用</h1>
      <p class="text-muted font-size-22 mt-3">海量模板样式，适合每个行业的求职者</p>
    </div>
    <div class="list wrapper mt-4 pb-5" style="padding: 0px 25px;width: 1250px;">
      {% for item in resumeTemplateList %}
      <div class="list-box float-left mt-5"><a href="/template/item/{{item.template_id}}.html" title="{{item.template_name}}"><p class="btn btn-blue text-white font-size-16">查看模板</p><p class="img"><img src="{{item.template_img}}" alt="{{item.template_name}}"></p><p class="title text-center font-size-14"><span class="badge badge-secondary font-size-13 mr-2 font-weight-normal teamplate-type">{{ item.template_type }}</span>{{item.template_name}}</p></a></div>
      {% endfor %}
    </div>
    <div class="more mb-5">
      <div class="btn btn-blue text-white font-size-18 mt-3" id="moreTeamplate">查看更多模板</div>
    </div>
  </div>
  <div class="index-3 wrapper pt-5 mt-4 pb-4" style="padding: 0px 25px;width: 1250px;">
    <div class="head text-center mt-3">
      <h1 class="font-weight-bold"><font class="text-blue">找定制</font>，提供优质的简历服务</h1>
      <p class="text-muted font-size-22 mt-3">一对一深度定制，确保服务的专业性及可靠性</p>
    </div>
    <div class="main mt-4 pt-3">
      <div class="float-left w-37 mt-5 pt-3">
        <p class="tag mt-5 font-size-14">高效定制</p>
        <h2 class="mt-3">24 小时专属服务</h2>
        <h2>为用户提供专业的简历定制</h2>
        <ul class="list text-muted font-size-14 mt-3 pt-1">
          <li>便捷聊天沟通，获取更多真实信息，增加求职确定性。</li>
          <li>手机App实时连线，不错过任何机会，随时掌握求职进度。</li>
          <li>屏蔽在职公司，个人隐私保密，私密零骚扰的求职环境。</li>
        </ul>
        <div class="more pt-3">
          <div class="btn btn-blue text-white font-size-18 mt-4 makeResume">开始定制简历</div>
        </div>
      </div>
      <div class="float-right w-63 pic"></div>
    </div>
  </div>
  <div class="index-4 wrapper pt-5 mt-5" style="padding: 0px 25px;width: 1250px;">
    <div class="head text-center mt-3">
      <h1 class="font-weight-bold"><font class="text-blue">找攻略</font>，让求职更加轻松</h1>
      <p class="text-muted font-size-22 mt-3">简历教程 / 面试经验 / 职场攻略</p>
    </div>
    <div class="main mt-5">
      <div class="w-100" style="height: 290px;">
        <div class="float-left w-50">
          <div class="head font-size-16 text-secondary"># 热门推荐</div>
          <ul class="hot-list">
            <li class="mt-3"><a href=""><div class="img float-left w-25"><img src="/frontend/images/index-pic-2.jpg" alt=""></div><div class="float-right content w-75"><p class="font-size-18 title text-body">测试123标题123Abc</p><p class="font-size-14 description text-black-50">测试123描述123Abc测试123描述123Abc测试1bc测试123描述123Abc测试123描述123Ab23描述123Abc测试123描述123Abc测试123描述123Abc</p></div></a></li>
            <li class="mt-3"><a href=""><div class="img float-left w-25"><img src="/frontend/images/index-pic-2.jpg" alt=""></div><div class="float-right content w-75"><p class="font-size-18 title text-body">测试123标题123Abc</p><p class="font-size-14 description text-black-50">测试123描述123Abc测试123描述123Abc测试123描述123Abc测试123描述123Abc测试123描述123Abc</p></div></a></li>
          </ul>
        </div>
        <div class="float-right w-46">
          <div class="head font-size-16"><a href="" class="text-secondary"># 最新攻略</a></div>
          <div class="new-list w-100 font-size-14">
            <ul class="w-50 float-left">
              <li><a href="">测试123描述123Abc测试123描述</a></li>
              <li><a href="">测试123描述123Abc测</a></li>
              <li><a href="">测试123描述123Abc测试12</a></li>
              <li><a href="">测试123描述123Abc测</a></li>
              <li><a href="">测试123描述123Abc测试123描述</a></li>
              <li><a href="">测试123描述123Abc测</a></li>
              <li><a href="">测试123描述123Abc测试1</a></li>
              <li><a href="">测试123描述123Abc测试123描</a></li>
              <li><a href="">测试123描述123Abc测试12</a></li>
            </ul>
            <ul class="w-50 float-right">
              <li><a href="">测试123描述123Abc测试123描述</a></li>
              <li><a href="">测试123描述123Abc测</a></li>
              <li><a href="">测试123描述123Abc测试1</a></li>
              <li><a href="">测试123描述123Abc测试123描</a></li>
              <li><a href="">测试123描述123Abc测试12</a></li>
              <li><a href="">测试123描述123Abc测试123描述</a></li>
              <li><a href="">测试123描述123Abc测</a></li>
              <li><a href="">测试123描述123Abc测试1</a></li>
              <li><a href="">测试123描述123Abc测试123描</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-100 mt-4">
        <div class="head font-size-16 text-secondary"># 热门话题</div>
        <ul class="w-100 topic mt-3">
          <li><a href=""><p class="img"><img src="/frontend/images/index-pic-3.png" alt=""></p><p class="title">测试123标题123Abc</p></a></li>
          <li><a href=""><p class="img"><img src="/frontend/images/index-pic-4.png" alt=""></p><p class="title">测试123标题123Abc</p></a></li>
          <li><a href=""><p class="img"><img src="/frontend/images/index-pic-5.png" alt=""></p><p class="title">测试123标题123Abc</p></a></li>
          <li><a href=""><p class="img"><img src="/frontend/images/index-pic-3.png" alt=""></p><p class="title">测试123标题123Abc</p></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="index-5 wrapper pt-5 mt-5 pb-5 mb-5" style="padding: 0px 25px;width: 1250px;">
    <div class="head text-center mt-5">
      <h1 class="font-weight-bold">即刻开始体验极速简历</h1>
    </div>
    <div class="more pt-2 pb-5">
      <div class="btn btn-blue text-white mt-4 makeResume">免费生成专业简历</div>
    </div>
  </div>
  {% include "./footer.html" %}
</body>
</html>